<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Title %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <%# Author %>
  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <%# Price %>
  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <%# date %>
  <div class="field">
  <%= form.label :published_date %>
  <%= form.select :published_date, options_for_select([
    ['Select a date', nil],
    ['2025-01-01', '2025-01-01'],
    ['2025-02-01', '2025-02-01'],
    ['2025-03-01', '2025-03-01'],
    ['2025-04-01', '2025-04-01'],
    ['2025-05-01', '2025-05-01'],
    ['2025-06-01', '2025-06-01'],
    ['2025-07-01', '2025-07-01'],
    ['2025-08-01', '2025-08-01'],
    ['2025-09-01', '2025-09-01'],
    ['2025-10-01', '2025-10-01'],

    ['2025-11-01', '2025-11-01'],
    ['2025-12-01', '2025-12-01'],
    ['2025-13-01', '2025-13-01'],
    ['2025-14-01', '2025-14-01'],
    ['2025-15-01', '2025-15-01'],
    ['2025-16-01', '2025-16-01'],
    ['2025-17-01', '2025-17-01'],
    ['2025-18-01', '2025-18-01'],
    ['2025-19-01', '2025-19-01'],
    ['2025-20-01', '2025-20-01'],

    ['2025-21-01', '2025-21-01'],
    ['2025-22-01', '2025-22-01'],
    ['2025-23-01', '2025-23-01'],
    ['2025-24-01', '2025-24-01'],
    ['2025-25-01', '2025-25-01'],
    ['2025-26-01', '2025-26-01'],
    ['2025-27-01', '2025-27-01'],
    ['2025-28-01', '2025-28-01'],
    ['2025-29-01', '2025-29-01'],
    ['2025-30-01', '2025-30-01']

  ]) %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
